body{
  background-color: #000000;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6EC72D;
}
.icons {
  font-size: 35px;
  color: #010501;
}
.icons:hover 
{
  color: #E8BD0D;
}